/* Mobile first design */

/* Fonts */

/* Header h1 */
@font-face {
    font-family: 'montserrat_alternatesmedium';
    src: url('fonts/montserratalternates-medium-webfont.woff2') format('woff2'),
         url('fonts/montserratalternates-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Header h2 */
@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('fonts/montserratalternates-light-webfont.woff2') format('woff2'),
         url('fonts/montserratalternates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Header h3 */
@font-face {
    font-family: 'biryaniregular';
    src: 
         url('fonts/Biryani-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Font variables */

:root {
    --font-main-header-h1: 'montserrat_alternatesmedium'; 
    --font-main-header-h2: 'montserrat_alternateslight';
    --font-header-h3: 'biryaniregular';
}

/* Color Variables */

:root {
    --color-text: #000000;
    --color-border: #0275d8;
    --color-body: #e4dede;
    --color-background: #faf9f6;
    --color-text-button: #ffffff; 
    --color-button: #0275d8;
    --color-button-hover: #5bc0de;
}

/* Body */

body {
    min-width: 360px;
    max-width: 600px;
    margin: auto;
    color: var(--color-text);
    background-color: var(--color-body);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

/* Header */

header {
    margin: auto;
    text-align: center;
    max-width: 600px;
}

h1, h2, h3 {
    margin: 0;
}

#header-main h1{
    margin: 0.6rem 1rem 0.2rem 1rem;
    padding: 0.2rem;
    font-family: var(--font-main-header-h1), 'Courier New', 'monospace';
    font-weight: 400;
    font-size: 2.6rem;
    border-radius: 1rem;
    background-color: var(--color-button);
    color: var(--color-text-button);
    box-shadow: 0.2rem 0.4rem 0.2rem 0 #000000;
}

#header-main h2 {
    font-family: var(--font-main-header-h2), 'Courier New', 'monospace';
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem 0 0.6rem 0;
}

h3 {
    font-family: var(--font-header-h3), 'arial';
    font-weight: 400;
}

#header-province-h3 {
    margin-top: 0.4rem;
    font-size: 1.8rem;
}

#header-rates-h3 {
    font-size: 1.2rem;
}

span {
    margin: 0;
}

header table {
    margin: auto;
}

/* Top navigation bar */

.svg-x {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    height: 1.6rem;
    width: auto;
    transform: scale(1);
    fill: var(--color-text);
}


#svg-info {
    margin-bottom: -0.3rem;
    height: 2rem;
    width: auto;
    transform: scale(1);
    fill: var(--color-text);
}

#input-div {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

#container-provinces {
    z-index: 2;
    width: calc(100% - 2rem);
    
}

#nav-main-button { 
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.4rem 0.2rem 0 #000000;
}

.nav-main-button > div:first-child {
    border-right: solid 0.2rem #000000;
}

/* Navigational bars and buttons */

nav {
    width: 100%;
    display: flex;
    justify-content: center;    
}

button {
    background-color: var(--color-button);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-text-button);
    border: none;
}

button:hover {
    background-color: var(--color-button-hover);
}

#drop-down-provinces {
    width: 100%;
    margin-top: 0.2rem;
    border-radius: 1rem;
    background-color: var(--color-button);
    box-shadow: 0.2rem 0.4rem 0.2rem 0 #000000;
}

.nav-drop-button {
    font-family: var(--font-header-h3);
    border-radius: 1rem;
    width: 100%;    
}

.calc-button {
    margin: 0.4rem 0.2rem 0.4rem 0.2rem;
    box-shadow: 0.2rem 0.4rem 0.2rem 0 #000000;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

#drop-down-tip {
    background-color: var(--color-button);
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.4rem 0.2rem 0 #000000;
}

/* Drop-down menus */

.svg-dropdown {
    width: 4rem;
    height: auto;
    fill: var(--color-text-button);
}

.container {
    position: relative;
}

.drop-down-hidden {
    position: absolute;
    display: none;
}

.drop-down-visible {
    position: absolute;
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    z-index: 1;    
}

.nav-drop-button {
    font-size: 1.2rem;
}

/* Modal */

.modal {
    opacity: 1;
    position: fixed;
    min-width: 260px;
    max-width: 500px;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 1rem 1rem 1rem;
    border: 0.14rem solid var(--color-text);
    overflow-y: auto;
    z-index: 3;
}

.modal button {
    margin-left: 50%;
    transform: translate(-50%); 
    width: 5rem;
    margin-top: 1rem;
}

/* Main */

main {
    position: relative;
    margin: auto;
    min-width: 300px;
    max-width: 600px;
}

/* Calculator */

#calculator {
    margin-bottom: 1rem;
}

#calculator>p {
    text-align: center;
}

#amount {
    border: solid 0.15rem #000000;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.4rem 0.2rem 0 #000000;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    margin-bottom: 1rem;
    text-align: right;
    font-size: 1.6rem;
    width: 12rem;
}

/* Feedback */

#feedback {
    margin-top: 2rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

#feedback-table {
    margin: auto;
    margin-top: 1rem;
    border-collapse: collapse;
    font-size: 1.2rem;
}

#feedback-table td {
    text-align: right;
}

.td-border {
    border-top: solid 0.1rem var(--color-text);
    border-bottom: 0.25rem double  var(--color-text);   
}

.td-no-border {
    border: none;
}

#total-amount, #tip-total-amount {
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 0.4rem;
}

/* Tablet, laptop and desktop design */

@media only screen and (min-width: 768px) {

    body {
        font-size: 1.2rem;
    }

    #header-main h1 {
        font-size: 4rem;
    }

    #header-main h2 {
        font-size: 1.2rem;
    }

    #header-province-h3 {
        font-size: 2.4rem;
    }

    #header-rates-h3 {
        font-size: 1.6rem;
    }

    .modal {
        position: absolute;
        top: 5rem;
        min-width: 550px;
    }

    #feedback-table {
        font-size: 1.4rem;
    }
}