/* Color Variables */

:root {
    --color-text: #000000;
    --color-background: azure;
}

/* Body */

body {
    color: var(--color-text);
    background-color: var(--color-background);
}

/* Top navigation bar */

.svg-icon {
    height: 48px;
    width: 48px;
    transform: scale(1);
    fill: var(--color-text);
}

.svg-x {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    height: 1.6rem;
    width: auto;
    transform: scale(1);
    fill: var(--color-text);
}

nav {
    display: flex;
}

/* Drop-down menus */

.container {
    position: relative;
}

.drop-down-hidden {
    position: absolute;
    display: none;
}

.drop-down-visible {
    position: absolute;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#error {
    padding: 1rem 0.4rem 0.4rem 0.4rem;
    border: solid var(--color-text) 2px;
}