/* Fonts */

/* Header h1 */
@font-face {
    font-family: 'montserrat_alternatesmedium';
    src: url('fonts/montserratalternates-medium-webfont.woff2') format('woff2'),
         url('fonts/montserratalternates-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Header h2 */
@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('fonts/montserratalternates-light-webfont.woff2') format('woff2'),
         url('fonts/montserratalternates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Header h3 */
@font-face {
    font-family: 'biryaniregular';
    src: 
         url('fonts/Biryani-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Font variables */

:root {
    --font-main-header-h1: 'montserrat_alternatesmedium'; 
    --font-main-header-h2: 'montserrat_alternateslight';
    --font-header-h3: 'biryaniregular';
}

/* Color Variables */

:root {
    --color-text: #000000;
    --color-border: #000000;
    --color-background: #faf9f6;
    --color-header: #e6f7ff; 
    --color-button: #c6f7f7;
}

/* Body */

body {
    /*max-width: 600px;*/
    margin: auto;
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

/* Header */

header {
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-family: var(--font-main-header-h2);
    font-weight: 400
}

h3 {
    font-family: var(--font-header-h3), 'arial';
    font-weight: 400;
}

#header-main h1{
    margin-top: 0.6rem;
    font-family: var(--font-main-header-h1), 'Courier New', 'monospace';
    font-weight: 400;
    font-size: 2.8rem;
}

#header-main h2 {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

#header-province-h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
}

#header-rates-h3 {
    font-size: 1.2rem;
}

header table {
    margin: auto;
}

/* Top navigation bar */

.svg-x {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    height: 1.6rem;
    width: auto;
    transform: scale(1);
    fill: var(--color-text);
}

/* Navigational bars */

nav {
    width: 100%;
    display: flex;
    justify-content: center;    
}

#nav-main {
    border-top: 0.14rem solid var(--color-border);
    border-bottom: 0.14rem solid var(--color-border);
}

.nav-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    width: 10rem;
    background-color: var(--color-button);
    border: 0.14rem solid var(--color-border);
    border-radius: 0.4rem;
    margin: 0.2rem 0.2rem 0.4rem 0.2rem;
    box-shadow: 0 0.2rem 0.4rem 0;
}

.nav-drop-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    width: 10rem;
    background-color: var(--color-button);
    border: 0.14rem solid var(--color-border);
    margin: 0;
    box-shadow: 0 0.2rem 0.4rem 0;
}

#drop-down-provinces {
    border: 0.1rem solid var(--color-border);
    border-radius: 0.4rem;
}

/* Drop-down menus */

.container {
    position: relative;
}

.drop-down-hidden {
    position: absolute;
    display: none;
}

.drop-down-visible {
    position: absolute;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

/* Modal */

#error {
    padding: 1rem 0.4rem 0.4rem 0.4rem;
    border: solid var(--color-border) 2px;
    min-width: 80%;
    max-width: 500px;

}

/* Main */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section {
    text-align: center;
    min-width: 200px;
    max-width: 300px;
}

#calculator {
    margin-bottom: 1rem;
}

#feedback-table {
    margin: auto;
    margin-top: 1rem;
    border-collapse: collapse;
}

#feedback-table td {
    text-align: right;
}

.td-border {
    border-top: solid 0.1rem var(--color-border);
    border-bottom: 0.25rem double;   
}

.td-no-border {
    border: none;
}